@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(182, 182, 182);
    
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 15%;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Exo 2", sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: "Raleway", sans-serif;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link {    
    background-color: #141e36;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Exo 2", sans-serif;
}

.imagemperfil {
    border-radius: 10%;
}

h1 {
    color: #00277a;

}

header {
    background-color: lightblue;
    color: white;

}

p {
    color: rgb(0, 22, 32);
    
}

.paragrafo-destaque {
    color: rgb(28, 63, 145);
}

footer {
    background-color: gray;
    color: white;

}

button {
    background-color: rgb(12, 24, 32);
    color: white;

}

a {
    color: rgb(238, 236, 111);

}

.titulo-destaque {
    color: rgb(32, 32, 32);
}